QLabel {
    font-family: 'Lora';
    font-size: 20pt;
}

QLineEdit {
    font-family: 'Lora';
    font-size: 15pt;
    
    border-style: outset;
    border-width: 2px;
    border-color: rgb(4,6,50);
    border-radius: 3px;
}